.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  max-width:500px;
  max-height:200px;
  width: auto;
  height: auto;
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .content-with-sidebars > * {
        width:10%;
    }
    .content-with-sidebars > *:nth-child(1) {
        width:80%;
    }
    .content-with-sidebars > *:nth-child(2) {
        order:-1;
    }
}

div {
  #border: 3px solid green;
  #padding: 20px;
  #margin: 20px;
}

/* container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

p {
  color: #000000
}

label {
  color: #000000;
}

.result {
  color: #000000;
  border-color: #696ba6;
  min-width:500px;
  min-height:50px;
  max-width:100%;
  max-height:50px;
}

.App-header {
  background-color: #fffff;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-text{
  font-size: 15px;
  color: #696ba6;
  font-style: italic;
}

.App-body {
  accent-color: #008CBA;
  background-color: #fffff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.simple-text {
  color: #00000;
  border-color: #696ba6;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  selectable: false;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button:hover {
   background-color: #015a77;
}