.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  height: auto;
}

div {
  #border: 3px solid green;
  #padding: 20px;
  #margin: 20px;
}

label {

}

/* container */
.responsive-three-column-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* columns */
.responsive-three-column-grid > * {
  flex: 1 1 100%;
  padding: 1rem;
  max-width: 100%;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .responsive-three-column-grid {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .responsive-three-column-grid > * {
    flex-basis: calc((100% - 4rem) / 3);
    max-width: calc((100% - 4rem) / 3);
  }
}

p,
label,
.result,
.simple-text {
  color: #000000;
}

.result {
  border-color: #696ba6;
  min-height: 50px;
  max-width: 100%;
}

.App-header {
  background-color: #fffff;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-text {
  font-size: 15px;
  color: #696ba6;
  font-style: italic;
}

.App-body {
  accent-color: #008CBA;
  background-color: #fffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.simple-text {
  border-color: #696ba6;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  user-select: none;
}

.button:hover {
  background-color: #015a77;
}
